:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --gray-blue: hsl(233, 8%, 62%);
  --light-gray-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --gradient: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}
body {
  font-size: 1em;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1.2em 6.3em;
  align-items: center;
  position: relative;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li {
  margin: 0em 1.2em;
  font-size: 1em;
  color: var(--gray-blue);
  cursor: pointer;
  position: relative;
}

nav li:hover {
  color: var(--dark-blue);
}
.header button,
.hero-content button,
footer button {
  padding: 0.6em 1.2em;
  border-radius: 3em;
  border: none;
  color: white;
  background: var(--gradient);
  cursor: pointer;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--very-light-gray);
}

.hero-content {
  padding-left: 6.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-title {
  font-size: 3.2em;
  color: var(--dark-blue);
  margin-bottom: 1.25em;
}
.hero-desc {
  margin-bottom: 1.25em;
  color: var(--gray-blue);
  line-height: 1.5em;
}
.hero-img {
  background: url("/images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}

.background {
  visibility: hidden;
  width: 100%;
}

.mockups {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.mockups img {
  width: 100%;
  position: relative;
  top: -10.5em;
}

.why {
  padding: 6.25em;
  background-color: var(--light-gray-blue);
}

.why-heading {
  font-size: 2em;
  color: var(--dark-blue);
  margin-bottom: 2.2em;
}

.why-desc {
  margin-bottom: 3.8em;
  color: var(--gray-blue);
  line-height: 1.5em;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.why-card > img {
  margin-bottom: 2em;
}

.card-title {
  color: var(--dark-blue);
  margin-bottom: 2em;
  font-size: 1.5em;
}

.why-grid {
  color: var(--gray-blue);
  line-height: 25px;
}

.articles {
  padding: 6.2em;
  background-color: var(--very-light-gray);
}

.article-heading {
  font-size: 2em;
  color: var(--dark-blue);
  margin-bottom: 2.4em;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

.articles-grid img {
  width: 100%;
  height: 12em;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.article {
  padding: 1.8em;
}

.article-auth {
  font-size: 1em;
  color: var(--gray-blue);
  margin-bottom: 1.2em;
}

.article-title {
  margin-bottom: 0.6em;
  color: var(--dark-blue);
}

.article-desc {
  margin-bottom: 1.23em;
  color: var(--gray-blue);
  font-size: 1em;
}

.footer {
  padding: 6.2em;
  background-color: var(--dark-blue);
  color: white;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 3fr;
  gap: 2em;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.social a {
  display: inline-block;
  margin-right: 10px;
}

.footer-menu1 div,
.footer-menu2 div {
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  white-space: nowrap;
}

.copyright {
  font-size: 16px;
  color: var(--gray-blue);
}
#close,
#hamburger {
  display: none;
}
.attribution {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .header {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #fff;
}
  .header,
  .services,
  .articles {
    padding: 30px;
  }
  .header button,
  .header nav ul {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-content {
    padding: 30px;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }

  .hero br {
    display: none;
  }
  .hero-title {
    font-size: 40px;
    margin-top:1.25em
  }
  .hero-img {
    background: url("/images/bg-intro-mobile.svg");
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mockups img {
    position: relative;
    top: -100px;
  }
  .why-title,
  .why-desc,
  .why-card,
  .articles-heading {
    text-align: center;
  }
  .why-grid,
  .articles-grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .footer {
    background-color: var(--dark-blue);
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
    justify-items: center;
    padding: 30px;
    color: white;
  }
  .footer-logo div {
    margin: 20px;
  }

  .footer-menu1 div,
  .footer-menu2 div {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .social a {
    display: inline-block;
    margin-right: 10px;
  }
  .copyright {
    margin: 10px 0px;
    align-items: center;
  }
  .copyright div {
    margin-top: 10px;
  }

  #hamburger {
    display: block;
  }
  /* .attribution {
    font-size: 11px;
    text-align: center;
    padding: 10px;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }*/
}
